/*------------VARIABLES Y RESET GLOBAL------------*/
/*--color-1: #588BC6;
--color-2: #5B58C6;
--color-3: #9358C6;
*/
body{
    margin: 0;
    padding: 0;
    background-color: 	#1C1C1C;
    font-family: "Poppins";
    color: #2D2A56;
    background: linear-gradient(#002747, #1C1C1C, #1C1C1C, #0e0e0e);
}

*{
    box-sizing: border-box;
}
/*------------UTILIDADES------------*/
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.scroll-animate {
    animation: aparecer both;
    animation-timeline: view();
    animation-range: cover 5% cover 40%;
}
.text-center {
    text-align: center;
}
/*------------UTILIDADES END------------*/
/*------------HEADER------------*/
.header{
    background-color: #002747;
    position: relative;
    padding: 20px;
    width: 100%;

    box-shadow: 0 0 7px 0 #222020;
}
/*------------HEADER END------------*/
/*------------PROFILE------------*/
.profile-container{
    margin: auto;
    max-width: 90%;
}

.profile_data-container{
    padding: 30px;
    background-color: #E6F4FF;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 20px 0 #b0b6c0;
    animation: aparecer 1s linear both;
}


.flex-container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: normal;
    align-content: normal;
}

.flex-items:nth-child(1) {
    display: block;
}

.flex-items:nth-child(2) {
    display: block;
}

.profile_img-container {
    box-sizing: border-box;
    margin: auto;
}

.profile_img-container img {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;

    filter: drop-shadow(0 0 50px rgba(20, 16, 16, 0.413));
}

h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3rem;
    text-shadow: 0 0 10px #00000030;
    border-bottom: 2.3px solid #31313168;
}

h4{
    font-size: 1.8rem;
}

.text-profile{
    white-space: pre-line;
    font-size: 1.20rem;
    line-height: 1.6;
}

.flex-item {
    max-width: 60%;
}
/*------------PROFILE END------------*/

/*------------EXPERIENCE------------*/
.habilidades-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    margin:10px;
    width: 80%;
    margin: auto;
}

h2{
    text-align: center;
    font-size: 2rem;
    color: #ffffff;
}

/*------------Items------------*/
a{
  text-decoration: none;
}

.div1 {
    grid-column: span 2 / span 2;
}
.exp-htmlcss {
    background: linear-gradient(135deg, #E44D26 0%, #264DE4 100%);
}

.div2 {
    grid-column-start: 3;
}
.exp-python{
    background: linear-gradient(#FFD43B, #de9b00);

}

.div3 {
    grid-row-start: 2;
}
.exp-sql {
    background: linear-gradient(#00758F, #003f4b);

}

.div4 {
    grid-column: span 2 / span 2;
    grid-row-start: 2;
}
.exp-blender {
    background: linear-gradient(#F2A900, #EA7600);
}

.div5 {
    grid-row-start: 3;
}
.exp-krita {
    background: linear-gradient(#FF0080, #b00058e6);
}

.div6 {
    grid-row-start: 3;
}
.exp-github {
    background: linear-gradient(#242424, #1A1A1A);

}
.div7 {
    grid-row-start: 3;
}
.exp-figma {
    background: linear-gradient(#F24E1E, #C03E18);
}
/*------------ESTADOS------------*/
.exp-item{
    padding: 10px;
    width: 100%;
    height: 6rem;
    border-radius: 5px;
    background-color: #000;
    font-size: 20px;
    color: #ffffff;
}
/*------------EXPERIENCE END------------*/
/*------------PROYECT------------*/
.proyect{
    background: linear-gradient(#ffffff00, #3c121280, #3c121280, #3c121280, #ffffff00);
}
.proyect-title {
    letter-spacing: 2px;
    font-size: 50px;
}
.proyect-title-text{
    font-size: 50px;
}
.proyect-title-proyect {
    text-shadow: 0 0 10px rgba(190, 139, 139, 0.623);
}


h3{
    font-size: 2rem;
    color: #ffffff;
}

.proyect-title-container {
    flex-direction: row;
    text-align: center;
    gap: 0 35rem;

    
    background-color: transparent;
    padding: 2rem 4rem;
    border-radius: 8px;
    box-shadow: 0 0 60px 0 #141313a8;
}
.proyect-title-container img{
    width: 10rem; 
    height: auto; 
    margin-left: 10px;
}

.proyect-container {
    flex-direction: row;
    text-align: center;
    background-color:#141313 ;
    border-radius: 7px;
    box-shadow: 0 0 20px 0 #111111;
}

.img-principal {
    width: 100%;
    height: auto;
    max-width: 700px;
    border-radius:7px 0 0 7px;

    margin-left: 10px;
}

.proyect-text {
    font-size: 1.01rem;
    color: #ffffff;
    text-align: left;
    padding: 0 20px; 
    white-space: pre-line;
    line-height: 1.7;
    
    background-color: transparent;
    padding: 2rem 4rem;
    border-radius: 8px;
    box-shadow: 0 0 60px 0 #141313a8;
}

.text-flicker-in-glow {
    opacity: 0;
}

.text-flicker-in-glow.animate {
    animation: text-flicker-in-glow 2s ease-out both;
}

.clasificado {
    font-size: 1.1rem;
    color: #ffffff;
    text-align: center;
}

.container-img {
    width: 100%;
    max-width: 90%;
    margin: auto;
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-auto-rows: 250px;
    gap: 20px;
}

.box-img {
    width: 100%;
    height: 100%;
}

.box-img figure {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
    display: block;
}

.container-img .box-img:nth-child(2) {
    grid-row-start: span 2;
}

.container-img .box-img:nth-child(3) {
    grid-column-start: span 2;
}

.container-img .box-img:nth-child(1) {
    grid-row-start: span 2;
    grid-column-start: span 2;
}
.container-img .box-img:nth-child(5) {
    grid-row-start: span 2;
}

.container-img .box-img:nth-child(6) {
    grid-row-start: span 2;
}
.container-img .box-img:nth-child(7) {
    grid-row-start: span 2;
}

.box-img:hover img {
    transform: scale(1.04);
    transition: transform 0.3s ease;
}

.fullscreen-img-overlay {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    cursor: zoom-out;
}

.fullscreen-img-overlay img {
    max-width: 90vw;
    max-height: 90vh;
    border-radius: 10px;
    box-shadow: 0 0 40px #000;
}
/*------------PROYECT END------------*/
/*------------FOOTER------------*/
.footer{
    background-color: #1b1b1b;
    color: #ffffff;
    text-align: center;
    padding: 80px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer img {
    width: 150px;
    height: 150px;
    vertical-align: middle;
    margin-left: 10px;
}
/*------------FOOTER END------------*/
/*------------MEDIAQUERI ------------*/
@media (max-width: 768px) {
  .flex-container {
    flex-direction: column;
    align-items: center;
  }

  .flex-item {
    max-width: 100%;
  }

  h1 {
    font-size: 2rem;
    text-align: center;
  }

  h4 {
    font-size: 1.2rem;
    text-align: center;
  }

  .proyect-title-container {
    flex-direction: column;
    gap: 1rem;
  }

  .proyect-title-container img {
    width: 5rem;
  }

  .container-img {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }

  video {
    max-width: 100%;
    border-radius: 7px 7px 0 0;
  }

  .proyect-container {
    flex-direction: column;
  }
}

/*  Tablets y laptops pequeñas */
@media (min-width: 769px) and (max-width: 1200px) {
  .container-img {
    grid-template-columns: repeat(2, 1fr);
  }

  h1 {
    font-size: 2.5rem;
  }
}

/*------------ANIMACIONES Y KEYFRAMES------------*/
/*------------EXPERIENCE ANIMATED------------*/
.exp-item {
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 1s ease, transform 0.8s ease;
}
.exp-item.animate {
    opacity: 1; 
    transform: translateX(0);
}

/* Estado BASE del título */
h2#experience-title {
  font-size: 4rem;
  transition: all 0.5s;
}

body.scrolled h2#experience-title {
  font-size: 3rem;
}

.proyect-title-text {
  font-size: 50px;
}

@keyframes aparecer {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    50% {
        opacity: 0.3;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.exp-item:hover {
    transform: scale(1.04);
    transition: transform 0.5s ease;
}


/*------------EXPERIENCE ANIMATED END------------*/
/*-------------PROYECT ANIMATED------------*/

@-webkit-keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
}
@keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
}
/*------------ANIMACIONES Y KEYFRAMES END------------*/
